<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="adminStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="Jim.jpg" alt="building_outside" height="300" width="110%">
</div>
<div class="Main_content">
    <h1>Welcome! Administration Building</h1>
    <p><font size="3">Administration Building was completed in 1982 and in 2006 it was completed of the extension</font></p>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="ad_inside_1.jpg" alt="ad_inside_1"></div>
    <div class="text">
        Jiphyeongwan is a 10th floor building with one basement.<br>
        It was a 5th floor building when it was completed in 1982, but has since been scaled up through a series of additions and remodeling.<br>
        Due to these additions and remodeling, the internal structure is unique, including the classroom and the professor's laboratory between floors.<br>
        The building was named after the scholarly research institute of the early Joseon Dynasty and the king's advisory body, Jiphyeonjeon, at the end of the Goryeo Dynasty.<br>
    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="ad_inside_2.jpg" alt="ad_inside_2"></div>
    <div class="text">
        On the 1st and 2nd floors are job support, student support, office, and general affairs departments, and on the 10th floor are the president's office and the director's office.<br>
        Originally, academic records and classes were also on the first floor, but they were moved to the second floor of the student center this year.<br>
        In addition, the electronic document issuance machine was also located at the entrance of the first floor of the house building, but was moved to the basement of the student center as the department of academic records and classes were relocated.<br>
        With electronic documents issued machine, students can obtain documents such as school certificates and vacation certificates.<br>
    </div>
</div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
