<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="daeyangStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="AI.jpg" alt="AI_building" height="300" width="110%">
</div>
<div class="Main_content">
    <h1>Welcome! Daeyang AI Center Building</h1>
    <p><font size="3">Daeyang AI Center Building was completed in march 2019 and provides students with a space for learning</font></p>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="AI_Cafe.jpg" alt="AI_Cafe"></div>
    <div class="text">
        Deayang AI Center is the latest building to be built.<br>

        Convenience facilities are scheduled from the ground floor to the second floor, and only Twosome Place is currently standing by.<br>

        From the fourth to eighth floors above the ground, Department of Computer Science professors' labs are located.<br>

        So you can see many professor in this building.<br>
    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="AI_Shower.jpg" alt="AI_Shower"></div>
    <div class="text">
        Guest houses and multi-purpose halls are scheduled for the other 9th to 12th floors, but they are still under construction.<br>

        There are many laboratories and lecture rooms in the first basement floor and the second basement floor<br>

        Most of the lectures at the building are for software colleges.<br>

        On the second basement floor, there is a shower room that is cleaner than the shower room of the student center, But no one knows about it.<br>

        On the second basement floor, there are offices of Sejong University Lifelong Education Center.<br>

        So there are some a dancing practice room and design labs.<br>

    </div>
</div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
