<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="developerStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div style="position:relative; left:190px;">
    <img src="code_image.jpg" alt="Code_image" height="300" width="100%">
</div>
<div class="Main_content">
    <h1>Web Page Developers</h1>
</div>
<hr>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="rsz_JeongMin.jpg" alt="ITZY"></div>
    <div class="text"> Name: JeongMin Go <br><br> Role: Main Developer, Designer <br><br> Grade: 4th</div>
</div>
<br>
<br>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="rsz_1Seoungwon.jpg" alt="Seoungwon"></div>
    <div class="text"> Name: Seoungwon Kang <br><br> Role: Sub Developer, Data Collection & Work <br><br> Grade: 4th</div>
</div>
<br>
<br>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="rsz_Inho.jpg" alt="Inho"></div>
    <div class="text"> Name: Inho Choi <br><br> Role: Sub Developer, Data Collection & Work <br><br> Grade: 2th</div>
</div>

<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
