<!DOCTYPE html>
<!--군자관-->
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="gunjaStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="Gunja_building.jpg" alt="Gunja_building" height="300" width="100%">
</div>
<div class="Main_content">
    <h1>Welcome! Gunja Building</h1>
    <p><font size="3">Gunja Building was completed in july 1959 and provides students with a space for learning</font></p>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="Gunja_Food.jpg" alt="Gwang_Food"></div>
    <div class="text">
        This building is the oldest building in this campus.<br>

        College of Arts and Physical Education is usually use the building.<br>

        In particular there are two restaurants in the building at first basement floor and the sixth floor.<br>

        The restaurant on the first basement floor is famous for a hangover dish, Sundubu Jjigae.<br>

        Many student go this restaurant after drink a lot to hangover.<br>

        The restaurant on the sixth floor is reserved for faculty members. But it open for college students.<br>

        It is the only one buffet restaurant in campus, so it can little bit expensive.<br>

    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="Gunja_Lobby.jpg" alt="Gunja_Lobby"></div>
    <div class="text">
        On the first floor, there are several facilities.<br>

        Woori-Bank and ATMs, a bookstore, an optician, a post office and copy machines that students can use are on the first floor.<br>

        There are many students at the beginning of the semester to buy books for lecture and to issue the student id card.<br>

        At first, there was no elevator, but it was installed after built the building.<br>

        So elevator location is not comfortable.<br>

    </div>
</div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
