<!DOCTYPE html>
<!--광개토관-->
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="gwangGaeto.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="Gwang.jpg" alt="Gwang_Building" height="300" width="100%">
</div>
<div class="Main_content">
    <h1>Welcome! GwangGaeto Building</h1>
    <p><font size="3">GwangGaeto Building was completed in April 2005 and provides students with a space for learning</font></p>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="Gwang_Hall.jpg" alt="Gwang_Hall"></div>
    <div class="text">
        This building is the tallest building in Sejong University.<br>

        College of Administration, Hotel Tourism College and Natural Science College are usually used this building.<br>

        On the first basement floor, there is a cafe and GS25 convenience store, and an exhibition hall. Exhibition hall is available if you apply with the student support office before a month<br>

        On the 1st to 13th floors, there are many classroom for liberal lecture.<br>

    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="Gwang_Cafe.jpg" alt="Gwang_Cafe"></div>
    <div class="text">
        On the fifth floor, there is a cafe that has been remodeled from classroom No. 514. <br>

        So the cafe name is 514.<br>

        At first, it started with welfare of hotel management students. But it became famous so it opend for everyone. And It is now run by a graduate of Sejong University.<br>

        The price is a little expensive, but it tastes great. And recently, Park Jun Young of GOD in Youtube Wassup Man came in this cafe.<br>

        On the second basement floor, there is large convention room, so many events are held.<br>

        In particular, there are many academies and pairs. So some events are good for students.<br>
    </div>
</div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
