<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="Enter.jpg" alt="Entering_Sejong_Univ" height="100%" width="100%">
</div>
<div class="Main_content">
    <h1>Welcome!</h1>
    <h2>This web page is designed to provide useful information to students and hidden places in our school</h2>
    <p id="demo" style="color:#CB2E4A"></p>
</div>

<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>

<script>
    var d=new Date();
    document.getElementById("demo").innerHTML=d
</script>
</body>
</html>
