<!DOCTYPE html>
<!--학술정보원-->
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="unionStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div style="position:relative; left:195px;">
    <img src="Library.jpg" alt="Library" height="300" width="100%"><!-- need to change-->
</div>
<div class="Main_content">
    <h1>Welcome! University Library</h1>
    <p><font size="3">Sejong University Library was completed in may 1998 and provides students with a space for learning</font></p>
    <input type="button" value="Visit Sejong University Library homepage" onClick="location.href='http://library.sejong.ac.kr/index.ax';"><!--Java Script-->
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="creative.png" alt="creative space"></div>
    <div class="text">
        This building is a library of Sejong University.<br>

        Another name for the building is Dongcheongwan, Sometimes you can see Dongcheongwan in building list at homepage.<br>

        Most of all knows that there are only 9 floors above the ground, because the elevator is only going to the 9th floor.<br>

        But in fact, there are the 10th floor and the second basement floor.<br>

        Each floor has its own characteristics.<br>

        On the second basement floor and the tenth floor above the ground have preservation documents.<br>
    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="nare.png" alt="nare space"></div>
    <div class="text">
        On the first to third floors of the basement, there are many reading rooms.<br>

        On the 8th floor, there is a studio that takes internet lectures.<br>

        On the fourth floor, there are a creative discussion lounge and an infinite imagination space, which is blocked for whatever reason.<br>

        Also, there are many study rooms on 4th, 7th and 1st basement level, so you can use them if you make a reservation on the Internet homepage.<br>

        When the first semester begins in the library, there is an event for first graders every time. If you are a freshman, you should participate.<br>
    </div>
</div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
