<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="mapStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div class="Main_content">
    <h1 style="color:#CB2E4A">Sejong University Map</h1>
</div>
<hr>
<div id="googleMap" style="width:1200px;height:500px;"></div>
<script>
    function myMap() {
        var myLatLng = {
            lat: 37.550502,
            lng: 127.073836
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), {
            center: myLatLng,
            zoom: 18
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            title: "Our Office!",
            animation: google.maps.Animation.BOUNCE
        });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?AIzaSyBnvzYHeyyiAhsLoOVltUs-cF-CcZNAEus&callback=myMap"></script>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
