<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="unionStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="Yu.jpg" alt="press_building_outside" height="300" width="110%">
</div>
<div class="Main_content">
    <h1>Welcome! Student Center Building</h1>
    <p><font size="3">Administration Building was completed in 1974</font></p>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="press_out_1.jpg" alt="press_out_1"></div>
    <div class="text">
        Woojeongdang is a 3th floor building next to the museum. Originally,<br>
        the second floor and land were directly connected to the stairway,<br>
        but it became what it is after breaking the stairs to build the academy.<br>
        It used to be used as a student center during the days of Seoul Women's Normal University, the predecessor of Sejong University, but it is now used for many purposes.<br>
    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="press_cafe.jpg" alt="press_cafe"></div>
    <div class="text">
        On the first floor, there is a large food court, where several menus are sold every day, and next to them are GS25 convenience stores where you can buy many things simply.<br>
        In front of it, there is a shop called Brookly where you can buy toast, hot dogs, and coffee.<br>
        In the old days, there was a place called Saenghyeop instead of Gs25, but it disappeared at the end of 2014.<br>
        On the second and third floors, there is a professor's office, a club room and a small theater.<br>
    </div>
</div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
