<!DOCTYPE html>
<!--학생회관-->
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="unionStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="Sejong_1.jpg" alt="Sejong Univ" height="60" width="200">
</div>
<ul>
    <li><a href="/introduce">Introduce</a></li>
    <li><a href="/administration">Administration Building</a></li>
    <li><a href="/gunja">Gunja Building</a></li>
    <li><a href="/union">Union Building</a></li>
    <li><a href="/gwangGaeto">GwangGaeto Building</a></li>
    <li><a href="/fine">Fine Art Building</a></li>
    <li><a href="/press">University Press</a></li>
    <li><a href="/daeyang">Daeyang Ai Center</a></li>
    <li><a href="/student">Student Center</a></li>
    <li><a href="/library">University Library</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/developer">Developer</a></li>
</ul>
<div>
    <img src="Union.png" alt="Union" height="300" width="110%">
</div>
<div class="Main_content">
    <h1>Welcome! Union Building</h1>
    <p><font size="3">Sejong University Student Center was completed in February 2010 and has been a rest area for students so far.</font></p>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="Jeju.jpg" alt="Jeju Cafe"></div>
    <div class="text">
        <b>2st floor Configuration : Jeju Mole Bang Cafe, Rock Climbing</b><br>

        On the second floor, there is JeJu Mole Bang, Lounge for Foreigners and an artificial rock climbing room<br>

        Juju Mole Bang is the cafe that ingredients for drinks sold in cafes are from Jeju Island.<br>

        Both price and taste are really resonable. <br>

        An artificial rock climbing rooms entrance is prohibited.<br>

        If you want to enter the room there is a permission from Sejong University.<br>
    </div>
</div>
<div style="position:relative; left:210px;" class="parent">
    <div class="img"><img src="Union_Food.jpg" alt="Union_Food"></div>
    <div class="text">
        <b>1st floor Configuration : CU Convenience Store, Job Cafe, Restaurant</b><br>
        <b>B1st floor Configuration : Restaurant</b><br>
        On the first basement floor, there is a famous student restaurant at Sejong University.<br>

        The restaurant also appeared on several TV shows for the delicious dish.<br>

        The most famous dish is salt-pork-fired rice and shrimp-fried rice.<br>

        The restaurant is open from 10 a.m. to 7 p.m. on weekdays and only until 2 p.m. on Saturdays.<br>

        There is a shower room on the second floor of the building, but towels and supplies are not supported.<br>

        There are many club rooms from the third floor to sixth floor.<br>

        If you want to entrance the club, it is good choice to look around these floors.<br>
    </div>
</div>
<div class="footer">
    <p>Address: 209 Neoungdong-ro, Gwangjin-gu, Seoul | Tel:(82-2)3408-3114 | E-Mail: rhwjdals13@naver.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Presented by Web Programming Team Projct #11</p>
</div>
</body>
</html>
